# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Output and temp folders
outputs/
data/
*.log

# VSCode and IDE settings
.vscode/
.idea/